*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    text-decoration: none;
    list-style: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3 ease-in-out;
}
.logo:hover{
    color: orangered;
    text-shadow: 0 0  25px orangered,
                  0 0 25px orangered ;
                
}
span{
    color: orangered;
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom:3px solid transparent ;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a:active{
    color: orangered;
    border-bottom: 3px solid orangered;
}
.contact{
    padding: 10px 28px;
    background-color:white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}
.home{
    width: 100%;
   min-width: 100vh;
   background:rgb(240, 240, 240) ;
   display: flex;
   align-items: center;
   gap: 7em;
   padding: 80px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
   font-size: 42px;
}
.home-content h1{
    font-size: 52px;
    line-height: 1.2;
 }
 .home-content p{
    font-size: 20px;
    margin: 25px 0 30px;
 }
 .btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
 }
 .btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3 ease;
    cursor: pointer;
 }
 .btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
 }
 .btn-2{
    padding: 12px 28px;
    background-color: orangered;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3 ease;
    cursor: pointer;
 }
 .btn-2:hover{
    background-color: white;
    color: orangered;

}
.home .img-box img{
  width: 400px;
  height: 400px;
  background-image: url(./amar.jpg);
  background-size: cover;
  margin-top: 70px;

}
.img-box img{
    border-radius: 100%;
    width: 400px;
    transition: .9s ease-in-out;
 
}
img:hover{
  cursor: pointer;
  transform:scale(0.9) translateY(-10px);
  box-shadow: 0 0 25px orangered,
  0 0 50px orangered;
 border-radius: 50%;   
}
::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    width: 9px;
}
.about .about-img img{
  width: 410px;
  height: 410px;
  background-image: url(./amar.jpg);
  background-size: cover;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.about:active{
  color: orangered;
}
.about-img img{
    position: relative;
    width: 400px;
    box-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    border-radius: 50%;  
    transition: 1.9s ease-in-out;         
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 40px;
}

.about-content h3{
    font-size: 60px;
    color: white;
}
.about-content p{
    color: white;
    font-size: 20px;
    margin: 1em 0 2em;
}
.contact-form h2{
    text-align: center;
    margin-top:  3em;
    margin-bottom: 1em;
    font-size: 36px;
   cursor: pointer;
   transition: 1.8s ease;
}
.contact-form h2:hover{
  color: orangered;
  text-shadow: 0 0  25px orangered,
                0 0 25px orangered ;
  transform: scale(1.1); 
  
}
.contact-form form{
    max-width: 50em;
    margin: 1em auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb(241, 241, 241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 25px;
    color: white;
    border: 2px solid orangered;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px orangered, 0 0 10px orangered;
    transition: 1.1s ease;
}
.footer .social a:hover{
    transform: scale(1.1)translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size:18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
   border-bottom: 3px solid transparent ;
   transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;

}
.footer .copyright{
    margin-top: 25px;
    text-align: center;
    color: white;
    font-size: 12px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px 100px;
  overflow: hidden;
  background: #e6e3e3;
 
}

.box {
  position: relative;
  width: 240px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(#fff, #fff, #e3e3e3);
  filter: blur(1px);
  z-index: 1;
}

.box::after {
  content: '';
  position: absolute;
  top: 1px;
  right: -1px;
  width: 20px;
  height: 100%;
  background: #9d9d9d;
  filter: blur(1px);
  z-index: 1;
}

.box .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eee;
}

.box .shadow::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(100% + 5px);
  width: 100%;
  height: 200%;
  background: linear-gradient(rgba(0,0,0,0.075), transparent);
  transform: skewX(45deg);
}

.box .shadow::after {
  content: '';
  position: absolute;
  bottom: -200%;
  left: calc(100% + 15px);
  width: 100%;
  height: 200%;
   transform: skewX(45deg);
}

.box .content {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
    15px 15px 15px rgba(0,0,0,0.1),
    20px 20px 20px rgba(0,0,0,0.1),
    50px 50px 50px rgba(0,0,0,0.1),
    inset 3px 3px 2px #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box .content .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .content .percent::before {
  content: attr(data-text);
  position: absolute;
  inset: 20px;
  background:orangered;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.23rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.box .content .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.box .content .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 3;
  transform: translate(5px, 5px);
}

.box .content .percent svg circle:nth-child(2) {
  stroke: orangered;
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 2s linear forwards ;
  animation-delay: 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box .content .percent .dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  animation: animateDot 2s linear forwards ;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

.box .content .percent .dot::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background: orangered;
  border-radius: 50%;
}

.box .content .number {
  position: relative;
  inset: 0;
  opacity: 0;
  animation: fadeIn 2s linear forwards;
  animation-delay: 2.5s;
}

.box .content .number h2 {
  font-size: 2.5rem;
  color: #555;
}

.box .content .number h2 span {
  font-weight: 300;
  font-size: 1.5rem;
}
#ski:hover{
   cursor: pointer;
   transform: scale(1.1)translateY(8px);
   color: orangered;
   text-shadow: 0 0  25px orangered,
                 0 0 25px orangered ;
  
   transition: 0.3s ease;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
:root {
  --dur: all 550ms ease-in-out; 
  --dur-a: all 650ms ease-in-out;
  --dur-b: all 750ms ease-in-out;
}

.containerr {
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:20px;
  padding:20px;
  box-sizing:border-box;
}
.item {
  background:#0055ff;
  height:400px;
  position:relative;
  border-radius:15px;
  padding:30px;
  box-sizing:border-box;
  color:#fff;
}
.card {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  z-index:10;
  width:100%;
  height:100%;
  overflow:hidden;
  border-radius:15px;
  -webkit-transition: var(--dur);
  -moz-transition: var(--dur);
  -ms-transition: var(--dur);
  -o-transition: var(--dur);
  transition: var(--dur);
  clip-path: circle(100.0% at 50% 50%);
}
.card img {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  z-index:10;
  height:100%;
  width:auto;
  max-width:9999px;
  overflow:hidden;
  border-radius:15px;

}

.circle {
  background:#1101E8;
  max-width:100%;
  height:100%;
  position:absolute;
  z-index:2;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
}

.item:hover .card  .imge {
  clip-path: circle(0.0% at 50% 50%);
}
.item:hover .card  .circle {
  clip-path: circle(0.0% at 75% 60%);
}
.item:hover .card  .circle2 {
  clip-path: circle(0.0% at 35% 20%);
}
.img {
  max-width:100%;
  position:absolute;
  z-index:3;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
}
.content{
  position:relative;
  z-index:0;
  display:flex;
  align-items:end;
  height:100%;
}
.content:hover{
    transform: scale(1.1);
    color: orangered;
}
                